.hide {
    opacity: 0;
    pointer-events: none;
}
.containerMain {
    border: none;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-icon {
    margin-right: 5px;
    margin-top: 2px;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .fa-tachometr {
    padding-top: 2px;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .fa-desktop {
    padding-top: 2px;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .fa-tasks {
    margin-top: 3px;
}

.fa-trash {
    margin-left: -10px !important;
}

.center {
    text-align: center;
}

.fright {
    float: right !important;
}

.tableList {
    margin-top: 10px;
}
.tableList div.ui-panel-content {
    padding: 0px !important;
}
.tableList table th:nth-child(2) {
    width: 40px;
}
.tableList table td:nth-child(1) {
    border-right: none;
}
.tableList table td:nth-child(2) {
    border-left: none;
}

.commands table th:nth-child(4) {
    width: 35px !important;
}
.commands table th:nth-child(5) {
    width: 40px !important;
}

.quickNewForm div div .ui-button-icon-only {
    height: 30px !important;
    width: 35px !important;
}
.quickNewForm div div .ui-button-icon-only span {
    margin-left: -9px;
}

.nodeTable th .ui-column-filter {
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
}